@import "tailwindcss";

@theme {
  /* 기본 sans 폰트를 Pretendard로 덮어쓰기 */
  --font-sans: "Pretendard", sans-serif;

  /* Gray Scale 재정의 */
  --color-gray-100: #f4f4f5;
  --color-gray-200: #e4e4e7;
  --color-gray-300: #d4d4d8;
  --color-gray-400: #a1a1aa;
  --color-gray-500: #71717a;
  --color-gray-600: #52525b;
  --color-gray-700: #3f3f46;
  --color-gray-800: #18181b;
}

@layer base {
  html {
    /* 전체 프로젝트에 폰트 적용 */
    font-family: "Pretendard", sans-serif;
    /* 스크롤 부드럽게 */
    scroll-behavior: smooth;
  }

  body {
    /* 기본 텍스트 색상과 배경색 지정 @apply*/
  }
}
